h1{
    color: aqua;
}
button{
    /* !important - Altera a ordem de importância */
    /* background-color: blueviolet !important;  */
}

.btn-success{
    background-color: blueviolet;
}


/* ________________________________________________________________ */
/* Breakpoint */
/*  Breakpoint	    Class infix	    Dimensions
    Extra small 	None	        <576px
    Small	        sm	            ≥576px
    Medium	        md	            ≥768px
    Large	        lg	            ≥992px
    Extra           large	        xl	≥1200px
    Extra           extra large	    xxl	≥1400px */

@media (min-width: 768px){
    h1{
        color: blue;
    }
}