* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #252525;
    color: #fff;
}

.primary-bg-color {
    background-color: #252525;
}

.destaque {
    background-color: #0d0d0d;
}

.secondary-bg-color {
    background-color: #976df2;
}

.light-bg-color {
    background-color: #fcf5eb;
}

.dark-bg-color {
    background-color: #0d0d0d;
}

.primary-color {
    color: #976df2;
}

.secondary-color {
    color: #f2f2f2;
}

.light-color {
    color: #fcf5eb;
}

#navbar .navbar-nav {
    flex-direction: row;
    justify-content: flex-end;
}

#navbar .navbar-nav li {
    margin-left: 1em;
}

#navbar a,
#navbar button {
    color: #fff;
}
#navbar li{
    position: relative;
}

#navbar i {
    font-size: 20px;
}
#navbar i:hover {
    color: #976df2;
}

#navbar span {
    position: absolute;
    top: -8px;
    right: -8px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ef3636;
    text-align: center;
}

#bag-item span {
    left: 20px;
}

.navbar-brand {
    font-weight: 700;
    width: 100%;
    text-align: center;
}

.sobre a:hover {
    color: #0d0d0d !important;
}

@media(min-width: 768px) {
    .navbar-brand {
        text-align: left;
    }
}

#navbar-items {
    justify-content: space-between;
}

@media(min-width: 768px) {
    #navbar-items {
        display: flex;
        min-width: 80%;
    }
}

#search-form,
#news-form {
    width: 100%;
    margin: 2em 0;
}

@media(min-width: 768px) {
    #search-form,
    #news-form {
        width: 50%;
        margin: 0;
    }
}
@media(min-width: 768px) {
    #search-form,
    #news-form {
        border: 2px solid #f2f2f2;
        border-radius: 3px;
        padding: 5px 15px;
    }
}

#search-form input,
#news-form input {
    background-color: transparent;
    border: none;
    color: #fff;
}

#serach-form input:focus,
#news-form input:focus {
    box-shadow: none;
}

#search-form input::placeholder,
#news-form input::placeholder {
    color: #fff;
}

#bottom-navbar-container .container {
    justify-content: flex-end;
}

#bottom-navbar-container a {
    color: #fff;
    font-weight: 600;
}

.navbar-toggler {
    font-size: 1.5em;
}

/* _____________________________________________________ */
/* Estilos para os banners */

/* Define espaçamento inerno para o contêiner de banners */
#banners-container {
    padding: 0;
}

/* Posicionamento e espaçamento para a legenda carousel */
.carousel-caption {
    bottom: 5em;
    padding: 1em;
    left: 12%;
    right: 12%;
}

/* Estilo para o título na legenda do carousel */
.carousel-caption h5 {
    font-size: 1.8em;
}

/* Media query para telas com largura minima de 768px */
@media(min-width: 768px) {
    /* Ajusta a largura dos itend do carousel e imagens */
    #slider .carousel-item, #slider img{
        height: 600px;
    }

    /* Posicionamento e espaçamento para a legenda carousel */
    .carousel-caption {
        left: 23%;
        right: 23%;
    }

    /* Estilo para o título na legenda do carousel */
    .carousel-caption h5 {
        font-size: 4em;
    }
}

/* Estilo para os mini banners */
/* Ajusta margem superior para sobrepor os banners principais */
#mini-banners {
    margin-top: -3em;
    z-index: 10;
}

/* Estilos para as colunas dos mini banners */
#mini-banners .col-12 {
    z-index: 1;
    height: 300px;
    padding: 1.5em;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Media query para telas com largura minima de 768px */
@media(min-width: 768px) {
    /* Ajusta a largura máxima das colunas dos mini banners */
    #mini-banners .col-12 {
        max-width: 30%;
    }

    /* Ajusta o tamanho do título nos mini banners */
    #mini-banners .col-12 h2 {
        font-size: 2.2em;
    }
}

#mini-banners .col-12 h2 {
    text-transform: uppercase;
    max-width: 50px;
    font-size: 1.3em;
    font-weight: 700;
    line-height: 1em;
}

/* Estilos para as imagens nos mini banners */
#mini-banners .col-12 img {
    height: 220px;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
}

/* Estilos para links nos mini-banners */
#mini-banners .col-12 a {
    font-weight: bold;
    color: #fff;
    font-size: .8rem;
    transition: .5s;
}

/* Estilos de hover para links nos mini banners */
#mini-banners .col-12 a:hover {
    color: #0d0d0d;
}

/* Estilos específicos para o primeiro mini banner */
#mini-banners #mini-banner-1 a:hover {
    color: #976df2;
}

/* Estilos específicos para o terceiro mini banner */
#mini-banners #mini-banner-3 a {
    color: #0d0d0d;
}
/* Estilos de hover específicos para o terceiro mini banner */
#mini-banners #mini-banner-3 a:hover {
    color: #976df2;
}

/* ________________________________________________________ */
/* BEST SELLERS */

/* Define altura e ajusta o redimento das imagens nos cartões*/
.card-img-top {
    height: 200px;
    object-fit: cover;
}

/* Define espaçamento interno para a seção de best sellers */
#best-sellers {
    padding: 4em 0;
}

/* Remove margens horizontais para a linha de produtos */
#best-sellers .row {
    margin: 0;
}

/* Ajusta o espaçamento interno das colunas dos produtos */
#best-sellers .col-md-3 {
    padding: 0;
}

/* Estilo para o título da seção */
.title {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 2.5em;
    margin-bottom: 1em;
    text-align: center;
}

/* Media query para telas com largura mínima de 768px */
@media(min-width: 768px) {
    /* Ajusta o alinhamento do título para a esquerda */
    .title {
        text-align: left;
    }
}

/* Estilo para os preços */
.original-price {
    font-size: 18px;
    color: #f2f2f2;
    text-decoration: line-through;
    margin-left: 10px;
}
.discount-price {
    font-size: 24px;
    color: #976df2;
}

/* Estilo para os cartões de produtos */
.card {
    text-align: center;
    border-radius: 0;
}

/* Ajusta a imagem nos cartões */
.card img {
    width: 140px;
    margin: 2em auto;
}

/* Estilos para a categoria do produto nos cartões */
.card .card-category {
    font-size: .8rem;
}

/* Estilo para texto nos cartões */
.card .card-text {
    margin: 2em 0;
    font-weight: bold;
}

/* botões de compra */
.btn {
    background-color: transparent;
    border-color: #976df2;
}

/* Hover para os botões de compra */
.btn:hover {
    background-color: #976df2;
    border-color: #976df2;
}

/* ________________________________________________________ */
/* BOTTOM BANNER */

/* Define cor de fundo, espaçamento interno e margens para o banner*/
#bottom-banner {
    background-color: #0d0d0d;
    padding: 6em;
    margin-bottom: 4em;
    text-align: center;
}

/* Define estilo para subtítulo da oferta e título */
#bottom-banner .offer-subtitle, #bottom-banner h2 {
    text-transform: uppercase;
    font-weight: bold;
}

/* Define estilo para o botão */
#bottom-banner img {
    max-width: 175px;
}

/* Media query para telas com largura mínima de 768px */
@media(min-width: 768px) {
    #bottom-banner h2 {
        font-size: 5em;
    }
}

/* ________________________________________________________ */
/* New products */

/* Define margem inferior para a seção de novidades */
#new-produtcs {
    margin-bottom: 5rem;
}

/* Estilos para o banner de novidades */
#new-products-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #0d0d0d;
}

/* Estilos para título */
#new-products-banner h3 {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 1rem;
    font-size: 2rem;
}

/* Ajusta o espaçamento interno */
#new-products .col-md-4 {
    padding: 0;
}

/* Define tamanho das margens para as imagens nos cartões */
#new-products .card img {
    height: 150px;
    width: 90px;
    margin: 2em auto;
}

/* _______________________________________________________________ */
/* GALLERY */

/* Estilos para os containers das imagens */
#gallery .image-container {
    background-size: cover;
    background-position: center;
    height: 225px;
    cursor: pointer;
    transition: .5s;
    border: 3px solid #0d0d0d;
}

/* Estilos ao passar o mouse sobre as imagens */
#gallery .image-container:hover {
    border-color: #976df2;
}

/* Define a imagem de fundo de cada container */
#insta1 {
    background-image: url('../img/insta1.jpg');
}
#insta2 {
    background-image: url('../img/insta2.jpg');
}
#insta3 {
    background-image: url('../img/insta3.jpg');
}
#insta4 {
    background-image: url('../img/insta4.jpg');
}
#insta5 {
    background-image: url('../img/insta5.jpg');
}
#insta6 {
    background-image: url('../img/insta6.jpg');
}

/* _______________________________________________________________ */
/* FOOTER */

/* Linha dos links no rodapé */
#footer-links-container {
    border-bottom: 1px solid #f2f2f2;
}

#footer .footer-column {
    padding: 2em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Para as colunas do rodapé em telas maiores */
@media(min-width: 795px) {
    #footer .footer-column{
        padding: 5em 2 em;
    }
}

#footer-links-container h3{
    font-size: 25px;
    text-transform: uppercase;
}

#footer-links-container li{
    font-size: .8em;
    text-align: center;
}

#footer-links-container li a{
    text-decoration: none;
}

#footer-links-container li a:hover{
    color: #976df2;
}

#footer-center{
    border-left: 1px solid #f2f2f2;
    border-right: 1px solid #f2f2f2;
}

#footer-center h3{
    font-weight: 900;
}

#footer-center .store-phone{
    color: #976df2;
    font-weight: bold;
    font-size: 2rem;
    margin-top: -15px;
}

#newsletter-container{
    background-color: #0d0d0d;
    border-bottom: 1px solid #f2f2f2;
    text-align: center;
    padding: 20px;
}

#news-form{
    max-width: 600px;
    margin: 15px auto;
}

#news-form i{
    font-size: 1.5em;
}

#news-form .btn{
    color: #fff;
}

#social-container{
    margin: 20px auto;
}

#social-container i{
    font-size: 1.5em;
    margin: 10px;
    cursor: pointer;
    color: #f2f2f2;
    transition: .3s;
}

#social-container i:hover{
    color: #976df2;
}

#copy-container{
    text-align: center;
    padding: 30px;
}